# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vs/
*cmake.in
cmake_modules/
Gravity-Simulator.dir/*
x64/
*.tlog
*.cmake
*.rule
*.vcxproj
CMakeCache.txt
*.sln
*vcxproj.filters
*.user
*.log
*.recipe
.github/
Debug/
/include/TGUI/Config.hpp
/build*
/obj
/bin
/cmake-build-debug
/cmake-build-release
/gui-builder/themes
/gui-builder/gui-builder
/gui-builder/gui-builder.exe
/gui-builder/form.txt
/gui-builder/GuiBuilderState.txt
/_site
/examples/Android/libs
/examples/Android/obj
/.vs
/.idea
CmakeSettings.json
CombinedSources*.cpp
.DS_Store
*~

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build folders
build/

# Cache/IDE folders
.cache/
.vs/
.vscode/
.idea/

*.pdb

TGUI/gui-builder/Debug/*
TGUI/gui-builder/gui-builder.dir/Debug/*

*.ilk

Debug/
.dir/

CMakeFiles/